### Comparing Weather Temperature Variability for Agricultural Investment Decisions

**context:** An agricultural investment firm is in the process of deciding on a location for a new farming project. Understanding that **consistent** and predictable weather conditions are vital for successful agriculture, the firm aims to evaluate and compare two potential cities based on their temperature stability. The key factor in this decision-making process is the variability in average daily temperatures, as it directly impacts crop growth and agricultural planning.

The firm has provided a dataset, named **"climate_data.csv"**, to aid in this assessment. This dataset includes the following columns:

- **month:** Indicates the month of the year.
- **Avg Temp City A (°C):** The average daily temperature for City A in each month, measured in degrees Celsius.
- **Avg Temp City B (°C):** The average daily temperature for City B in each month, measured in degrees Celsius.

### Task Objective

- Calculate the standard deviation for average temperatures in both cities.
- Determine which city has a higher temperature variability.
- Decide on the city with more stable (lower variability) temperatures for agricultural investment.

**Import necessary libraries**

In [1]:
import pandas as pd

**1: Data Import**

In [2]:
df = pd.read_csv("climate_data.csv")
df

     Year      Month  Avg Temp City A (°C)  Avg Temp City B (°C)
0    2010    January                    17                    12
1    2011   February                    17                    16
2    2012      March                    15                    16
3    2013      April                    14                    15
4    2014        May                    16                    14
..    ...        ...                   ...                   ...
235  2025     August                    13                    19
236  2026  September                    13                    21
237  2027    October                    15                    20
238  2028   November                    15                    20
239  2029   December                    15                    22

[240 rows x 4 columns]

**2: Calculate standard deviations**

In [ ]:
# -----> 'City A' standard deviation
std_cta = df["Avg Temp City A (°C)"].std()
print(std_cta)

3.099104000625755

In [5]:
# -----> 'City B' standard deviation
std_ctb = df["Avg Temp City B (°C)"].std()
print(std_ctb)

2.926386474198816

**3: Comparison**

**4: Observation and Decision**